.button-secondary {
    align-items: center;
    border: 1px solid;
    border-color: var(--newjet-black);
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px 40px;
    position: relative;
    width: 178px;
}

.button-secondary .ORDER-NOW {
    color: var(--newjet-black);
    font-family: "HK Grotesk-SemiBoldLegacy", Helvetica;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.button-secondary:hover {
    background-color: var(--newpersian-red);
    border-color: var(--newpersian-red);
}

.button-secondary:hover .ORDER-NOW {
    color: var(--newisabeline);
}
